<div class="row">
  <div class="col-md-4 offset-md-4">

    <h1 class="mt-5">It's my Instablog</h1>
    <p class="lead"> Please sign in or register to continue</p>

    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-succes" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
  </div>
</div>
