<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <% if @photo.image.present? %>
    <%= image_tag @photo.image_url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
